body {
  font-family: 'Roboto', sans-serif;
  background: #5f2c82;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 20px #1f0606;
}

.date-input {
  border-radius: 5px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.timer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timer .title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  letter-spacing: 0.05em;
  font-size: 50px;
}

.timer span {
  margin: 0 0 20px;
  padding: 0;
  display: block;
}

.timer .timer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.timer .timer-body .field {
  padding: 0 20px;
}

.timer .timer-body .value {
  letter-spacing: 0.05em;
  font-size: 80px;
}

.timer .timer-body .label {
  letter-spacing: 0.1em;
  font-size: 24px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons .buttons_item {
  display: block;
  padding: 0 15px;
}

button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f1ee), to(#fff));
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
          box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  height: 70px;
  width: 70px;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

button[data-action='start'] {
  color: #e8f5e9;
  border-color: #2a832e;
  background: -webkit-gradient(linear, left top, left bottom, from(#66b16a), to(#47a84c));
  background: linear-gradient(to bottom, #66b16a 0%, #47a84c 100%);
  -webkit-box-shadow: inset 0 1px #c8e6c9, 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #c8e6c9, 0 1px 2px rgba(0, 0, 0, 0.2);
}

button[data-action='start']:hover, button[data-action='start']:focus, button[data-action='start'].focus {
  border-color: #47a84c;
  background: -webkit-gradient(linear, left top, left bottom, from(#a5d6a7), to(#66b16a));
  background: linear-gradient(to bottom, #a5d6a7 0%, #66b16a 100%);
  -webkit-box-shadow: inset 0 1px #e8f5e9, 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #e8f5e9, 0 2px 3px rgba(0, 0, 0, 0.2);
}

button[data-action='start']:active, button[data-action='start'].active {
  border-color: #15771a;
  color: #c8e6c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#47a84c), to(#2a832e));
  background: linear-gradient(to bottom, #47a84c 0%, #2a832e 100%);
  -webkit-box-shadow: inset 0 2px 2px #15771a;
          box-shadow: inset 0 2px 2px #15771a;
}

button[data-action='start'].disabled, button[data-action='start'][disabled],
fieldset[disabled] button[data-action='start'] {
  background: #a5d6a7;
  border-color: #66b16a;
}

button[data-action='stop'] {
  color: #fbe9e7;
  border-color: #f42c1e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6a65), to(#ff5043));
  background: linear-gradient(to bottom, #ff6a65 0%, #ff5043 100%);
  -webkit-box-shadow: inset 0 1px #ffccbc, 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #ffccbc, 0 1px 2px rgba(0, 0, 0, 0.2);
}

button[data-action='stop']:hover, button[data-action='stop']:focus, button[data-action='stop'].focus {
  border-color: #ff5043;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffab91), to(#ff6a65));
  background: linear-gradient(to bottom, #ffab91 0%, #ff6a65 100%);
  -webkit-box-shadow: inset 0 1px #fbe9e7, 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #fbe9e7, 0 2px 3px rgba(0, 0, 0, 0.2);
}

button[data-action='stop']:active, button[data-action='stop'].active {
  border-color: #ee1911;
  color: #ffccbc;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5043), to(#f42c1e));
  background: linear-gradient(to bottom, #ff5043 0%, #f42c1e 100%);
  -webkit-box-shadow: inset 0 2px 2px #ee1911;
          box-shadow: inset 0 2px 2px #ee1911;
}

button[data-action='stop'].disabled, button[data-action='stop'][disabled],
fieldset[disabled] button[data-action='stop'] {
  background: #ffab91;
  border-color: #ff6a65;
}

button[data-action='reset'] {
  color: #fff3e0;
  border-color: #fb8c00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb74d), to(#ffa726));
  background: linear-gradient(to bottom, #ffb74d 0%, #ffa726 100%);
  -webkit-box-shadow: inset 0 1px #ffe0b2, 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #ffe0b2, 0 1px 2px rgba(0, 0, 0, 0.2);
}

button[data-action='reset']:hover, button[data-action='reset']:focus, button[data-action='reset'].focus {
  border-color: #ffa726;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc80), to(#ffb74d));
  background: linear-gradient(to bottom, #ffcc80 0%, #ffb74d 100%);
  -webkit-box-shadow: inset 0 1px #fff3e0, 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px #fff3e0, 0 2px 3px rgba(0, 0, 0, 0.2);
}

button[data-action='reset']:active, button[data-action='reset'].active {
  border-color: #f57c00;
  color: #ffe0b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa726), to(#fb8c00));
  background: linear-gradient(to bottom, #ffa726 0%, #fb8c00 100%);
  -webkit-box-shadow: inset 0 2px 2px #f57c00;
          box-shadow: inset 0 2px 2px #f57c00;
}

button[data-action='reset'].disabled, button[data-action='reset'][disabled],
fieldset[disabled] button[data-action='reset'] {
  background: #ffcc80;
  border-color: #ffb74d;
}
/*# sourceMappingURL=main.css.map */