body {
  font-family: 'Roboto', sans-serif;
  background: #5f2c82;
  background: linear-gradient(to right, #49a09d, #5f2c82);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 20px rgb(31, 6, 6);
}
.title {
  margin: 50px auto;
  padding: 0;
  letter-spacing: 0.05em;
  font-size: 80px;
}
span {
  margin: 0 0 20px;
  padding: 0;
  display: block;
}
#timer-1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.field {
  padding: 0 20px;
}
.value {
  letter-spacing: 0.05em;
  font-size: 80px;
}
.label {
  letter-spacing: 0.1em;
  font-size: 24px;
}
